table, td{
  border: 3px solid #000000;
  border-collapse: collapse;
  background-color: #FFFFFF;
  font-weight: bolder;
}

table {
  border-radius: 10px;
}

td {
  text-align: center;
  height: 30px;
  width: 30px;
}

#cuerpo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
  display: grid;
  height: 700px;
  grid-template-columns: 70% 15% 15%;
  grid-template-rows: 40% 30% 30%;
  justify-items: center;
}

#tabla {
  grid-row-start: 1;
  grid-row-end: 4;
}

.blanco {
  background-color: #F8FFE5;
}

.rosa {
  background-color: #EF476F;
}

.amarillo {
  background-color: #FFC43D;
}

.azul {
  background-color: #1B9AAA;
}

.verde {
  background-color: #06D6A0;
}
